.about {
    background-color: #ffffff;
    padding: 4rem 1rem;
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.about-container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.about-image img {
    width: 500px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 1;
    min-width: 280px;
}

.about-text h2 {
    font-size: 2.5rem;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    color: #000000;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 1rem;
}

@media (max-width: 900px) {
    .about {
        text-align: center;
    }

    .about-container {
        flex-direction: column;
        gap: 2rem;
        padding: 1rem 2rem;
    }

    .about-text h2 {
        font-size: 2rem;
    }

    .about-text p {
        font-size: 1.3rem;
        padding: 0;
    }

    .about-image img {
        width: 80%;
        max-width: 300px;
    }

}

